.wrapper {
    background-color: #1B34A6;
    height: 100vh;
    color: white;
    margin: 0;
    padding: 0;

    .login-form {
        color: white;
        padding-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .login-form-control {
        width: 100%;
        margin-top: 15px;
        margin-right: auto;
        margin-left: auto;
        input {
            padding: 10px;
            border: 1px #93F20F solid;
            border-radius: 25px;
            width: 100%;    
        }
    }

   .button {
       width: 100%;
       margin-top: 25px;
       text-transform: uppercase;
       padding: 10px;
       border: 1px #93F20F solid;
       background-color: #93F20F;
       border-radius: 25px;
       margin-right: auto;
       margin-left: auto;
   }
}

